strong {
  color: var(--ifm-color-primary);
}

label {
  display: block;
  font-weight: bold;
}

input, select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 0.15rem solid #C0C0C0;
  border-radius: 0.5rem;
  outline: 0;
  box-shadow: none;
  font-size: 1.3em;
}

select {
  -moz-appearance:none;
  -webkit-appearance: none; 
  appearance: none;
  background-color: white;
}

[data-theme="dark"] input, [data-theme="dark"] select {
  border: 0.2rem solid #6b6b6b;
  background-color: #3b3b3b;
  color: white;
}

.container {
  width: 80vw;
  margin: auto;
}

[data-theme="dark"] .container {
  color: var(--ifm-color-default);
}

.loading {
  text-align: center;
}

.hero {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--ifm-color-primary);
  color: white;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}

.hero h1 {
  margin: 0;
}

.configurations {
  display: grid;
  width: 100%;
  margin-bottom: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
}

.overflow {
  max-height: 50vh;
  overflow: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

[data-theme="dark"] .result {
  color: rgb(253 253 254);
  background-color: #3b3b3b;
}

.id {
  font-weight: bold;
  margin: 0;
  display: block;
}

.txt {
  margin: 1rem 0 0 0;
}

@media (max-width: 700px) {
  .configurations{
    grid-template-columns: 2fr 2fr;
  }
}