strong {
  color: var(--ifm-color-primary);
}

label {
  display: block;
  font-weight: bold;
}

input, select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 0.15rem solid #C0C0C0;
  border-radius: 0.5rem;
  outline: 0;
  box-shadow: none;
  font-size: 1.3em;
}

select {
  -moz-appearance:none;
  -webkit-appearance: none; 
  appearance: none;
  background-color: white;
}

[data-theme="dark"] input,
[data-theme="dark"] select {
  border: 0.2rem solid #6b6b6b;
  background-color: #3b3b3b;
  color: white;
}

input:active,
input:focus{
  border-color: var(--ifm-color-primary);
}
.container {
  width: 80vw;
  margin: auto;
}

[data-theme="dark"] .container {
  color: var(--ifm-color-default);
}

.loading {
  text-align: center;
}

.hero {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--ifm-color-primary);
  color: white;
  padding: 2rem;
  text-align: center;
  position:relative;
}
.hero .heroContent{
  position:realative;
  z-index: 2;
}

.heroCompleted:after{
  animation: heroCompletedAnimation .6s forwards;
  background: linear-gradient(52deg, var(--ifm-color-secondary) 3%, var(--ifm-color-primary) 63%);
  position:absolute;
  content: " ";
  top:100%;
  bottom:0%;
  left:0%;
  right:0%;
  animation: .6s heroCompleted forwards;
  z-index: 1;
  opacity: 0;
}

@keyframes heroCompleted{
  to{
    opacity: 1;
    top:0%;
  }
}

.loadingBarContainer{
  margin-bottom: 2rem;
}
.loadingBar{
  min-height: .5rem;
  transition: width .3s;
  background: linear-gradient(52deg, var(--ifm-color-secondary) 3%, var(--ifm-color-primary) 63%);
}

.hero h1 {
  margin: 0;
}

.configurations {
  display: grid;
  width: 100%;
  margin-bottom: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
}

.overflow {
  max-height: 50vh;
  overflow: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}


[data-theme="dark"] .result {
  color: rgb(253 253 254);
  background-color: #3b3b3b;
}

.id {
  font-weight: bold;
  margin: 0;
  display: block;
}

.txt {
  margin: 1rem 0 0 0;
}

@media(min-width: 768px) {
  .resultHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }  
  .resultHeader > .resultHeaderColumn {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .configurations{
    grid-template-columns: 2fr 2fr;
  }
}