node_modules
dist
jest.config.js
.eslintrc.cjs
*.yaml
*.yml
*.md
*.snap
*.csv
*.sh
*.png
*.html
*.svg
*.dpack
*.css
get-imdb-dataset.mjs
**/dist/**
**/tap-snapshots/**
**/datasets/*.json
*.vue
stemmer/**/*.js
stemmer/**/*.d.ts
*.dic
src/wasm
rust/scripts
rust/src/wasm/artifacts/
Dockerfile