.eslintrc.cjs
*.css
*.csv
*.dic
*.dpack
*.html
*.md
*.png
*.sh
*.snap
*.svg
*.vue
*.yaml
*.yml
*.gif
**/datasets/*.json
**/snapshots/*.json
stemmer
**/dist/**
**/dist
Dockerfile
**/get-imdb-dataset.mjs
node_modules