.vscode/
**/.docusaurus/
**/coverage
**/dist/
**/node_modules/
**/Dockerfile
packages/plugin-docusaurus-sandbox/build
packages/orama/tests/datasets/events.json
playwright-report
packages/docs/.next/**/*
pnpm-lock.yaml
.gitignore
.prettierignore