:root {
  /* TODO  relate this to docusarus css vars (which are hex values) */
  --aa-primary-color-rgb: var(--aa-text-color-rgb);
  --aa-footer-height: 3.5rem;
}

.aa-DetachedSearchButton {
  border-radius: 9999px;
  height: 36px;
  background: var(--ifm-color-emphasis-200);
  border: none;
  color: initial;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1.5rem;
}

.navbar .aa-DetachedSearchButton {
  width: 200px;
  height: 36px;
}

.aa-DetachedSearchButtonIcon {
  color: inherit;
  width: unset;
}

.aa-DetachedContainer .aa-PanelLayout {
  bottom: var(--aa-footer-height);
}

.aa-NoResults {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 0.9em;
  color: var(--ifm-color-emphasis-600);
}
