.main {
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.title,
.movieTitle {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  margin: 0;
}

.movieTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.input {
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid #d5b3ffaa;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 50%;
  font-size: 1rem;
  color: #eee;
  transition: 0.15s;
}

.input:focus {
  border-color: #d5b3ff;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid #ef4444;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: 0.15s;
}

.button:hover {
  color: #ef4444;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}

.movie {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #d5b3ffaa;
  cursor: pointer;
  transition: 0.15s;
}

.movie:hover {
  border-color: #d5b3ff;
}

.favLabel {
  width: 100%;
  text-align: right;
  margin: 0;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sub {
  margin: 0;
  text-align: right;
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .input {
    width: 90%;
  }
}
