.youtube {
  margin-bottom: 24px;
  text-align: center;
}

.youtube iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 768px) {
  .youtube iframe {
    width: calc(560px / 1.5);
    height: calc(315px / 1.5);
  }
}