
.lyraDemoContainer {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.lyraDemoContainer .lyraSearchDemo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.lyraDemoContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lyraDemoContainer button {
    display: block;
    margin: 2rem 0;
    padding: .4rem;
}

.lyraDemoContainer .lyraDemoInput {
    padding: 0.4rem;
    width: 50%;
    border-radius: 8px;
}